<%= form_for(@worker) do |f| %>
<div class="form-group" style="width:70%">
  <% if @worker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@worker.errors.count, "error") %> prohibited this worker from being saved:</h2>

      <ul>
      <% @worker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :name %>:
  <%= f.text_field :name,  class: "form-control" %>

  <%= f.label :place %>:
  <%= f.text_field :place, class: "form-control"%>


  <div class="actions">
    <button type="submit" class="btn btn-default"> Create</button>
  </div>
  </div>
<% end %>
